body{
    font-family: 'serif';
    text-align: center;
    color: black;
    background-color: gray;
    
}

#informacao_foto{
    margin-top: 90px;
    font-size: 14pt;
    
}

#informacao_detalhes{
    text-align: center;
    padding-left: 25px;
    margin-top: 20px;
    
}

#informacao_jogador{
    display: flexbox;
    width: 60%;
    margin: 5px auto;
    padding-left: 15px;
    
}



/*media queries*/
@media (max-width : 768px){ /*estabelecido pelo professor nas restricoes..*/
    #informacao_foto {
        font-size: 30pt;
    }
    #informacao_detalhes {
        margin-top: 5pt;
        font-size: 15pt;
        padding-left: 15px;
    }
    #informacao_jogador {
        display: grid;
    }

}

@media (max-width : 800px){
    #informacao_jogador{
        width: 80%;
    }
}



@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Nunito:wght@400;600&display=swap');